@charset "utf-8";
/* 전체왼쪽정렬 */
#wrap{position:relative;width:1000px;height:650px;margin-left:0;margin-right:auto;}

/* position 사용인경우 */
#wrap{position:relative;width:1000px;height:650px;margin-left:0;margin-right:auto;}
#header{width:200px;height:650px;}
#main{position:absolute;top:0;right:0;width:800px;height:550px;background:#c7c;}
#footer{position:absolute;bottom:0;right:0;width:800px;height:100px;background:#7cc;}


/*float 사용인경우*/
/*
#wrap{width:1000px;height:650px;margin-left:0;margin-right:auto;}
#header{float:left;width:200px;height:650px;}
#main{float:left;width:800px;height:550px;background:#c7c;}
#footer{float:left;width:800px;height:100px;background:#7cc;}
*/


/* 헤더 박스 */
.header-wrap{width:200px;}
.header-wrap>li{width:100%;}
/*로고*/
.header-wrap>li:nth-child(1){height:80px;}

/*네비게이션*/
.header-wrap>li:nth-child(2){height:auto;}


/*메인메뉴*/
.nav-wrap{width:100%;height:auto;}
.nav-wrap>li{width:100%;height:auto;box-sizing:border-box;border-bottom:1px solid #ddd;}
.nav-wrap>li:nth-child(4){border-right:0;}
.nav-wrap>li>a{display:block;font-size:16px;font-weight:500;color:#fff;background:#2cc;text-align:center;padding:17px 0;transition:all .3s;}
.nav-wrap>li>a:hover{background:#2aa;transition:all .3s;}

.sub{width:100%;height:auto;display:none;}
.sub>li{width:100%;}
.sub>li>a{display:block;font-size:14px;font-weight:500;color:#555;text-align:center;padding:13px 0;transition:all .3s;}
.sub>li>a:hover{background:#2cc;color:#fff;transition:all .3s;}




/* 우측 main */
#section1{width:100%;height:350px;}
.section1-slide-wrap{position:relative;width:100%;height:350px;overflow:hidden;}
.section1-slide-wrap>li{position:absolute;left:0;width:100%;height:100%;}
.section1-slide-wrap>li>img{width:100%;}
.section1-slide-wrap>li:nth-child(1){top:   0%;}
.section1-slide-wrap>li:nth-child(2){top: 100%;}
.section1-slide-wrap>li:nth-child(3){top:-100%;}

#section2{width:100%;height:200px;}
.section2-wrap{width:100%;}
.section2-wrap>li{float:left;width:33.33333%;height:200px;}
.section2-wrap>li:nth-child(1){background:#88c;}
.section2-wrap>li:nth-child(2){background:#8c8;}
.section2-wrap>li:nth-child(3){background:#c88;}

.footer-wrap{width:100%;height:100px;}
.footer-wrap>li{float:left;}
.footer-wrap>li:nth-child(1){width:150px;height:100px;background:#c99;}
.footer-wrap>li:nth-child(2){width:650px;height:100px;background:#9cc;}

#idFamilly{position:absolute;right:0;top:36px;display:block;width:200px;padding:7px 20px;border:1px solid #ddd;font-size:14px;}

