<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <FindHistory nbMaxFindHistoryPath="10" nbMaxFindHistoryFilter="10" nbMaxFindHistoryFind="10" nbMaxFindHistoryReplace="10" matchWord="no" matchCase="no" wrap="yes" directionDown="yes" fifRecuisive="yes" fifInHiddenFolder="no" dlgAlwaysVisible="no" fifFilterFollowsDoc="no" fifFolderFollowsDoc="no" searchMode="0" transparencyMode="1" transparency="150" dotMatchesNewline="no" isSearch2ButtonsMode="no">
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Find name="notice-page-number" />
        <Find name="&#xB354;&#xD398;&#xC774;&#xC2A4;&#xC0F5; &#xACF5;&#xC9C0;&#xC0AC;&#xD56D;" />
        <Find name="BRANDO RESTAURANT" />
        <Find name="resultMesg" />
        <Find name="resultMail" />
        <Find name="resultIrum" />
        <Find name="errors" />
        <Find name="replace" />
        <Find name="&#xD734;&#xB300;&#xD3F0;" />
        <Find name="search" />
        <Replace name="&#xB354;&#xD398;&#xC774;&#xC2A4;&#xC0F5; AJAX &#xACF5;&#xC9C0;&#xC0AC;&#xD56D;" />
        <Replace name="&#xB354;&#xD398;&#xC774;&#xC2A4;&#xC0F5; &#xACF5;&#xC9C0;&#xC0AC;&#xD56D;" />
        <Replace name="resMessg" />
        <Replace name="resMail" />
        <Replace name="resIrum" />
        <Replace name="OBJ" />
        <Replace name="objSlideS10" />
        <Replace name="colS" />
        <Replace name="symbol" />
        <Replace name="hidden" />
    </FindHistory>
    <History nbMaxFile="10" inSubMenu="no" customLength="-1">
        <File filename="C:\AutoSet10\public_html\notice\index.html" />
        <File filename="D:\&#xC6F9;&#xB514;&#xC790;&#xC778;(&#xC6F9;&#xD37C;&#xBE14;&#xB9AC;&#xC154;)&#xD504;&#xB860;&#xD2B8;&#xC564;&#xB4DC;&#xC2E4;&#xBB34;&#xC790;&#xC591;&#xC131;_A\&#xD6C8;&#xB828;&#xC0DD;_&#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;\&#xD6C8;&#xB828;&#xC0DD;_&#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;_&#xC0B0;&#xCD9C;&#xBB3C;\&#xC81C;3&#xCC28; &#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;&#xC81C;&#xC791;&#xC0B0;&#xCD9C;&#xBB3C;\&#xC774;&#xC120;&#xC9C4;\0723 &#xC0BC;&#xC131;&#xAE30;&#xC5B4;&#xD54F;\index.html" />
        <File filename="D:\&#xC6F9;&#xB514;&#xC790;&#xC778;(&#xC6F9;&#xD37C;&#xBE14;&#xB9AC;&#xC154;)&#xD504;&#xB860;&#xD2B8;&#xC564;&#xB4DC;&#xC2E4;&#xBB34;&#xC790;&#xC591;&#xC131;_A\&#xD6C8;&#xB828;&#xC0DD;_&#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;\&#xD6C8;&#xB828;&#xC0DD;_&#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;_&#xC0B0;&#xCD9C;&#xBB3C;\&#xC81C;3&#xCC28; &#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;&#xC81C;&#xC791;&#xC0B0;&#xCD9C;&#xBB3C;\&#xC774;&#xC120;&#xC9C4;\0723 &#xC0BC;&#xC131;&#xAE30;&#xC5B4;&#xD54F;\js\section2.js" />
        <File filename="D:\&#xAD50;&#xC0AC;&#xBB38;&#xC120;&#xC885;\&#xAE08;&#xC77C;&#xC5F0;&#xAD6C;&#xC790;&#xB8CC;\&#xAC15;&#xC758;&#xAC1C;&#xBC1C;_&#xC815;&#xADDC;&#xD45C;&#xD604;&#xC2DD;_&#xC815;&#xADDC;&#xD615;-AJAX&#xBAA8;&#xB450;\AJAX-&#xD3FC;&#xACFC;-&#xC815;&#xADDC;&#xD615;&#xBAA8;&#xB450;_\&#xD398;&#xC774;&#xC9C0;&#xB124;&#xC774;&#xC158;&#xAC1C;&#xBC1C;&#xC644;&#xB8CC;-&#xACF5;&#xC9C0;&#xC0AC;&#xD56D;-AJAX-&#xB354;&#xD398;&#xC774;&#xC2A4;&#xC0F5; &#xACF5;&#xC9C0;&#xC0AC;&#xD56D;\&#xB354;&#xD398;&#xC774;&#xC2A4;&#xC0F5; &#xACF5;&#xC9C0;&#xC0AC;&#xD56D; &#xD398;&#xC774;&#xC9C0;&#xB124;&#xC774;&#xC158;&#xC644;&#xB8CC;-&#xCD5C;&#xC885;\index.html" />
        <File filename="D:\&#xC6F9;&#xB514;&#xC790;&#xC778;(&#xC6F9;&#xD37C;&#xBE14;&#xB9AC;&#xC154;)&#xD504;&#xB860;&#xD2B8;&#xC564;&#xB4DC;&#xC2E4;&#xBB34;&#xC790;&#xC591;&#xC131;_A\&#xC9C8;&#xBB38;&#xBC29;\&#xD55C;&#xC81C;&#xC6B1;\&#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;\0724-Hotel UVE\css\style.css" />
        <File filename="D:\&#xC6F9;&#xB514;&#xC790;&#xC778;(&#xC6F9;&#xD37C;&#xBE14;&#xB9AC;&#xC154;)&#xD504;&#xB860;&#xD2B8;&#xC564;&#xB4DC;&#xC2E4;&#xBB34;&#xC790;&#xC591;&#xC131;_A\&#xC9C8;&#xBB38;&#xBC29;\&#xD55C;&#xC81C;&#xC6B1;\&#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;\0724-Hotel UVE\js\headerScroll.js" />
        <File filename="D:\&#xC6F9;&#xB514;&#xC790;&#xC778;(&#xC6F9;&#xD37C;&#xBE14;&#xB9AC;&#xC154;)&#xD504;&#xB860;&#xD2B8;&#xC564;&#xB4DC;&#xC2E4;&#xBB34;&#xC790;&#xC591;&#xC131;_A\&#xC9C8;&#xBB38;&#xBC29;\&#xD55C;&#xC81C;&#xC6B1;\&#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;\0724-Hotel UVE\js\s1SvgAni.js" />
        <File filename="D:\&#xC6F9;&#xB514;&#xC790;&#xC778;(&#xC6F9;&#xD37C;&#xBE14;&#xB9AC;&#xC154;)&#xD504;&#xB860;&#xD2B8;&#xC564;&#xB4DC;&#xC2E4;&#xBB34;&#xC790;&#xC591;&#xC131;_A\&#xC9C8;&#xBB38;&#xBC29;\&#xD55C;&#xC81C;&#xC6B1;\&#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;\0724-Hotel UVE\index.html" />
        <File filename="D:\&#xAD50;&#xC0AC;&#xBB38;&#xC120;&#xC885;\&#xAE08;&#xC77C;&#xC5F0;&#xAD6C;&#xC790;&#xB8CC;\0724-AJAX-JSON&#xB370;&#xC774;&#xD130;&#xCC98;&#xB9AC;\index.html" />
        <File filename="D:\&#xAD50;&#xC0AC;&#xBB38;&#xC120;&#xC885;\&#xAE08;&#xC77C;&#xC5F0;&#xAD6C;&#xC790;&#xB8CC;\0724-AJAX-JSON&#xB370;&#xC774;&#xD130;&#xCC98;&#xB9AC;\css\style.css" />
    </History>
    <GUIConfigs>
        <GUIConfig name="ToolBar" visible="yes">standard</GUIConfig>
        <GUIConfig name="StatusBar">show</GUIConfig>
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="yes" drawInactiveTab="yes" reduce="yes" closeButton="yes" doubleClick2Close="no" vertical="no" multiLine="no" hide="no" quitOnEmpty="no" />
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <GUIConfig name="UserDefineDlg" position="undocked">hide</GUIConfig>
        <GUIConfig name="TabSetting" replaceBySpace="no" size="4" />
        <GUIConfig name="AppPosition" x="-103" y="26" width="1936" height="1004" isMaximized="yes" />
        <GUIConfig name="noUpdate" intervalDays="15" nextUpdateDate="20080426">no</GUIConfig>
        <GUIConfig name="Auto-detection">yes</GUIConfig>
        <GUIConfig name="CheckHistoryFiles">no</GUIConfig>
        <GUIConfig name="TrayIcon">no</GUIConfig>
        <GUIConfig name="MaitainIndent">yes</GUIConfig>
        <GUIConfig name="TagsMatchHighLight" TagAttrHighLight="yes" HighLightNonHtmlZone="no">yes</GUIConfig>
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <GUIConfig name="DetectEncoding">yes</GUIConfig>
        <GUIConfig name="NewDocDefaultSettings" format="0" encoding="4" lang="8" codepage="-1" openAnsiAsUTF8="yes" />
        <GUIConfig name="langsExcluded" gr0="189" gr1="124" gr2="228" gr3="255" gr4="255" gr5="127" gr6="127" gr7="249" gr8="255" gr9="255" gr10="31" gr11="0" gr12="0" langMenuCompact="yes" />
        <GUIConfig name="Print" lineNumber="yes" printOption="3" headerLeft="" headerMiddle="" headerRight="" footerLeft="" footerMiddle="" footerRight="" headerFontName="" headerFontStyle="0" headerFontSize="0" footerFontName="" footerFontStyle="0" footerFontSize="0" margeLeft="0" margeRight="0" margeTop="0" margeBottom="0" />
        <GUIConfig name="Backup" action="0" useCustumDir="no" dir="" isSnapshotMode="no" snapshotBackupTiming="7000" />
        <GUIConfig name="TaskList">yes</GUIConfig>
        <GUIConfig name="MRU">yes</GUIConfig>
        <GUIConfig name="URL">2</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="no" fontSize="no" bold="no" italic="no" underline="no" />
        <GUIConfig name="auto-completion" autoCAction="3" triggerFromNbChar="1" autoCIgnoreNumbers="no" funcParams="yes" />
        <GUIConfig name="auto-insert" parentheses="yes" brackets="yes" curlyBrackets="yes" quotes="yes" doubleQuotes="yes" htmlXmlTag="yes" />
        <GUIConfig name="sessionExt"></GUIConfig>
        <GUIConfig name="workspaceExt"></GUIConfig>
        <GUIConfig name="MenuBar">show</GUIConfig>
        <GUIConfig name="Caret" width="1" blinkRate="600" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="no" />
        <GUIConfig name="openSaveDir" value="0" defaultDirPath="" />
        <GUIConfig name="titleBar" short="no" />
        <GUIConfig name="stylerTheme" path="D:\&#xC6F9;&#xB514;&#xC790;&#xC778;(&#xC6F9;&#xD37C;&#xBE14;&#xB9AC;&#xC154;)&#xD504;&#xB860;&#xD2B8;&#xC564;&#xB4DC;&#xC2E4;&#xBB34;&#xC790;&#xC591;&#xC131;_A\&#xD559;&#xC2B5;-&#xC790;&#xB8CC;&#xC2E4;\&#xC6F9;&#xC5D0;&#xB514;&#xD130;_&#xB178;&#xD2B8;&#xD328;&#xB4DC;++&#xC124;&#xCE58;&#xB41C; &#xD504;&#xB85C;&#xADF8;&#xB7A8;\stylers.xml" />
        <GUIConfig name="wordCharList" useDefault="yes" charsAdded="" />
        <GUIConfig name="delimiterSelection" leftmostDelimiter="40" rightmostDelimiter="41" delimiterSelectionOnEntireDocument="no" />
        <GUIConfig name="multiInst" setting="0" />
        <GUIConfig name="MISC" fileSwitcherWithoutExtColumn="no" backSlashIsEscapeCharacterForSql="yes" newStyleSaveDlg="no" isFolderDroppedOpenFiles="no" docPeekOnTab="no" docPeekOnMap="no" />
        <GUIConfig name="searchEngine" searchEngineChoice="2" searchEngineCustom="" />
        <GUIConfig name="SmartHighLight" matchCase="no" wholeWordOnly="yes" useFindSettings="no" onAnotherView="no">yes</GUIConfig>
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="show" indentGuideLine="show" folderMarkStyle="box" lineWrapMethod="aligned" currentLineHilitingShow="show" scrollBeyondLastLine="no" disableAdvancedScrolling="no" wrapSymbolShow="hide" Wrap="no" borderEdge="yes" edge="no" edgeNbColumn="80" zoom="20" zoom2="1" whiteSpaceShow="hide" eolShow="hide" borderWidth="2" smoothFont="no" />
        <GUIConfig name="DockingManager" leftWidth="174" rightWidth="239" topHeight="200" bottomHeight="200">
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44081" curr="0" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44085" curr="0" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44080" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44084" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="dummy" id="0" curr="3" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Explorer.dll" id="1" curr="0" prev="-1" isVisible="no" />
            <PluginDlg pluginName="NppFTP.dll" id="0" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Explorer.dll" id="0" curr="0" prev="-1" isVisible="no" />
            <ActiveTabs cont="0" activeTab="1" />
            <ActiveTabs cont="1" activeTab="-1" />
            <ActiveTabs cont="2" activeTab="-1" />
            <ActiveTabs cont="3" activeTab="-1" />
        </GUIConfig>
    </GUIConfigs>
    <ProjectPanels>
        <ProjectPanel id="0" workSpaceFile="" />
        <ProjectPanel id="1" workSpaceFile="" />
        <ProjectPanel id="2" workSpaceFile="" />
    </ProjectPanels>
    <FileBrowser latestSelectedItem="D:\&#xAD50;&#xC0AC;&#xBB38;&#xC120;&#xC885;\&#xAC15;&#xC758;_&#xC0B0;&#xCD9C;&#xBB3C;\7&#xC6D4;&#xC0B0;&#xCD9C;&#xBB3C;\0724-AJAX-JSON&#xB370;&#xC774;&#xD130;&#xCC98;&#xB9AC;\index.html">
        <root foldername="D:\&#xAD50;&#xC0AC;&#xBB38;&#xC120;&#xC885;\&#xAC15;&#xC758;_&#xC0B0;&#xCD9C;&#xBB3C;\7&#xC6D4;&#xC0B0;&#xCD9C;&#xBB3C;\0724-AJAX-JSON&#xB370;&#xC774;&#xD130;&#xCC98;&#xB9AC;" />
    </FileBrowser>
</NotepadPlus>
